In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#creating empty data frame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#creating data frame from series
s = pd.Series([1,2,3,4,5])
df=pd.DataFrame(s)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
#creating data frame from dictionary of series
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)
#or
e=pd.Series([1,2,3,4,])
f=pd.Series(['a','b','c','d'])
df=pd.DataFrame({'one':e,'two':f})
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one two
0    1   a
1    2   b
2    3   c
3    4   d
one    [1, 2, 3]
two    [a, b, c]
dtype: object
             0
one  [1, 2, 3]
two  [a, b, c]

In [ ]:
#creating data frame from list of dictionaries
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
#ILERATION ON ROWS
df=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'}]

df=pd.DataFrame(df)
print(df)
for(index_row,index_value) in df.iterrows():
    print('index row is ')
    print(index_row)
    print('index value is ')
    print(index_value)

           NAME GENDER SECTION
0      ABDULLAH  MALE        A
1  ILLYAS AHMED   MALE       A
index row is
0
index value is
NAME       ABDULLAH
GENDER        MALE
SECTION           A
Name: 0, dtype: object
index row is
1
index value is
NAME       ILLYAS AHMED
GENDER             MALE
SECTION               A
Name: 1, dtype: object

In [ ]:
#iteration on columns is
df=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'}]

df=pd.DataFrame(df)
print(df)
for(col_name,col_value) in df.items():
    print('column name is  ')
    print(col_name)
    print('column value is  ')
    print(col_value)

           NAME GENDER SECTION
0      ABDULLAH  MALE        A
1  ILLYAS AHMED   MALE       A
column name is
NAME
column value is
0        ABDULLAH
1    ILLYAS AHMED
Name: NAME, dtype: object
column name is
GENDER
column value is
0    MALE
1     MALE
Name: GENDER, dtype: object
column name is
SECTION
column value is
0    A
1    A
Name: SECTION, dtype: object

In [7]:
#for accessing a column in data frame
df=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'}]

df=pd.DataFrame(df)
print(df)
print('accessing a sigle column')
print(df['NAME'])
print("or")
print(df.NAME)
print('accessing multiple columns')
print(df[['NAME','GENDER']])

           NAME GENDER SECTION
0      ABDULLAH  MALE        A
1  ILLYAS AHMED   MALE       A
accessing a sigle column
0        ABDULLAH
1    ILLYAS AHMED
Name: NAME, dtype: object
or
0        ABDULLAH
1    ILLYAS AHMED
Name: NAME, dtype: object
accessing multiple columns
           NAME GENDER
0      ABDULLAH  MALE
1  ILLYAS AHMED   MALE

In [19]:
#To Add & Rename a column in data
Dict=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'}]
df=pd.DataFrame(Dict)
print(df)
print('now renaming a column ')
df.rename(columns={'NAME': 'NAMES'}, inplace=True)
print(df)
print('now adding a column with same value in rows ')

df['list2']=20
print(df)
df['list3']=[1,2]
print(df)
df['list3']=[1,2]
df['list4']=df['list3']+df['list2']
print(df)

           NAME GENDER SECTION
0      ABDULLAH  MALE        A
1  ILLYAS AHMED   MALE       A
now renaming a column
          NAMES GENDER SECTION
0      ABDULLAH  MALE        A
1  ILLYAS AHMED   MALE       A
now adding a column with same value in rows
          NAMES GENDER SECTION  list2
0      ABDULLAH  MALE        A     20
1  ILLYAS AHMED   MALE       A     20
          NAMES GENDER SECTION  list2  list3
0      ABDULLAH  MALE        A     20      1
1  ILLYAS AHMED   MALE       A     20      2
          NAMES GENDER SECTION  list2  list3  list4
0      ABDULLAH  MALE        A     20      1     21
1  ILLYAS AHMED   MALE       A     20      2     22

In [34]:
#deleting columns by using del pop and drop
Dict=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'}]
df=pd.DataFrame(Dict)
df['list2']=20
df['list3']=[1,2]
df['list4']=df['list3']+df['list2']
print(df)
del df['list4']
print(df)
df.pop('list3')
print(df)
df.drop('list2',axis=1,inplace=True)
print(df)

           NAME GENDER SECTION  list2  list3  list4
0      ABDULLAH  MALE        A     20      1     21
1  ILLYAS AHMED   MALE       A     20      2     22
           NAME GENDER SECTION  list2  list3
0      ABDULLAH  MALE        A     20      1
1  ILLYAS AHMED   MALE       A     20      2
           NAME GENDER SECTION  list2
0      ABDULLAH  MALE        A     20
1  ILLYAS AHMED   MALE       A     20
           NAME GENDER SECTION
0      ABDULLAH  MALE        A
1  ILLYAS AHMED   MALE       A

In [50]:
#acessing dataframes using loc
Dict=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'},{'NAME':'UMAR HAIDER','GENDER':'MALE','SECTION':'A'}]
df=pd.DataFrame(Dict)
df['list2']=20
df['list3']=[1,2,3]
df['list4']=df['list3']+df['list2']
print(df)
print('to access a single row element')
new_var = df.loc[0,'NAME']
print(new_var)
print('to access a a single row ')
print(df.loc[0])
print('to access multiple rows')
print(df.loc[[0,2]])
print("to access a single column")
print(df.loc[:,'NAME'])
print('to access a multiple columns')
print(df.loc[:,['NAME','SECTION']])

           NAME GENDER SECTION  list2  list3  list4
0      ABDULLAH  MALE        A     20      1     21
1  ILLYAS AHMED   MALE       A     20      2     22
2   UMAR HAIDER   MALE       A     20      3     23
to access a single row element
ABDULLAH
to access a a single row
NAME       ABDULLAH
GENDER        MALE
SECTION           A
list2            20
list3             1
list4            21
Name: 0, dtype: object
to access multiple rows
          NAME GENDER SECTION  list2  list3  list4
0     ABDULLAH  MALE        A     20      1     21
2  UMAR HAIDER   MALE       A     20      3     23
to access a single column
0        ABDULLAH
1    ILLYAS AHMED
2     UMAR HAIDER
Name: NAME, dtype: object
to access a multiple columns
           NAME SECTION
0      ABDULLAH       A
1  ILLYAS AHMED       A
2   UMAR HAIDER       A

In [54]:
#acessing dataframes using  iloc
Dict=[{'NAME':'ABDULLAH','GENDER':'MALE ','SECTION':'A'},{'NAME':'ILLYAS AHMED','GENDER':'MALE','SECTION':'A'},{'NAME':'UMAR HAIDER','GENDER':'MALE','SECTION':'A'}]
df=pd.DataFrame(Dict)
df['list2']=20
df['list3']=[1,2,3]
df['list4']=df['list3']+df['list2']
print(df)
print('to access a single row element')
new_var = df.iloc[0:1,0:1]
print(new_var)
new_var = df.iloc[1:2,1:2]
print(new_var)

           NAME GENDER SECTION  list2  list3  list4
0      ABDULLAH  MALE        A     20      1     21
1  ILLYAS AHMED   MALE       A     20      2     22
2   UMAR HAIDER   MALE       A     20      3     23
to access a single row element
       NAME
0  ABDULLAH
  GENDER
1   MALE