In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [3]:
pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [6]:
pip install metaplotlib.py

ERROR: Could not find a version that satisfies the requirement metaplotlib.py (from versions: none)
ERROR: No matching distribution found for metaplotlib.py

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
#creating an nparray with series
np_array=np.array([1,2,3,4,5])
a=pd.Series(np_array)
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
#creating an nparray with series but with mutable indexes
np_array=np.array([1,2,3,4,5])
a=pd.Series(np_array,
            index=['first','second','third','forth','fifth']
            )
print(a)

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [12]:
z=len(a)
print(z)

5

In [14]:
#creating a series from scalar values
s=pd.Series(10,index=[0,1,2,3,4,5])
print(s)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [15]:
#creating a series from dictionary
dictionary_1={"NAME":"Abdullah","AGE":"21","GENDER":"MALE"}
a=pd.Series(dictionary_1)
print(a)

NAME      Abdullah
AGE             21
GENDER        MALE
dtype: object

In [21]:
#mathematical operations in series
series=pd.Series([1,2,3,4,5],index=['first','second','third','forth','fifth'])
print(series)
#mutilpy by 2
print("multiplying all values of series by 2")
print(series*2)
#add 2
print("adding all values of series by 2")
print(series+2)
#subtract 2
print("subtracting all values of series by 2")
print(series-2)
#divide by 2
print("dividing all values of series by 2")
print(series/2)
#squaring all values of series
print("squaring all values of series")
print(series**2)
#printing all values of series greater than 2
print("printing all values of series greater than 2")
print(series[series>2])

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64
multiplying all values of series by 2
first      2
second     4
third      6
forth      8
fifth     10
dtype: int64
adding all values of series by 2
first     3
second    4
third     5
forth     6
fifth     7
dtype: int64
subtracting all values of series by 2
first    -1
second    0
third     1
forth     2
fifth     3
dtype: int64
dividing all values of series by 2
first     0.5
second    1.0
third     1.5
forth     2.0
fifth     2.5
dtype: float64
squaring all values of series
first      1
second     4
third      9
forth     16
fifth     25
dtype: int64
printing all values of series greater than 2
third    3
forth    4
fifth    5
dtype: int64

In [34]:
#more mathematical functions that can be applied to series
d=pd.Series([1,2,3,4,5,6,7,8,9,10],index=['first','second','third','forth','fifth','sixth','seven','eight','nine','tenth'])
e=pd.Series([1,2,3,4,5,6,7,8,9,10],index=['first','second','third','forth','fifth','sixth','seven','eight','nine','tenth'])
f = pd.Series([1, 2, 3, 4, 5], index=['first', 'second', 'third', 'forth', 'fifth'])
print("two series arrays with equal data and indexes")
print(d+ e)
#or

print(e.add(f,fill_value=1))

two series arrays with equal data and indexes
first      2
second     4
third      6
forth      8
fifth     10
sixth     12
seven     14
eight     16
nine      18
tenth     20
dtype: int64
eight      9.0
fifth     10.0
first      2.0
forth      8.0
nine      10.0
second     4.0
seven      8.0
sixth      7.0
tenth     11.0
third      6.0
dtype: float64

In [37]:
#now going towards head and tail functions in series
series=pd.Series([1,2,3,4,5],index=['first','second','third','forth','fifth'])
print(series.head())
print(series.tail())
print(series.head(3))
print(series.tail(3))

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64
first     1
second    2
third     3
forth     4
fifth     5
dtype: int64
first     1
second    2
third     3
dtype: int64
third    3
forth    4
fifth    5
dtype: int64

In [38]:
#creating a series from dictionary and applying head and tail functions
dictionary_1={"NAME":"Abdullah","AGE":"21","GENDER":"MALE"}
a=pd.Series(dictionary_1)
print(a.head())
print(a.tail())
print(a.head(2))
print(a.tail(2))

NAME      Abdullah
AGE             21
GENDER        MALE
dtype: object
NAME      Abdullah
AGE             21
GENDER        MALE
dtype: object
NAME    Abdullah
AGE           21
dtype: object
AGE         21
GENDER    MALE
dtype: object

In [43]:
#selection in series using loc index label
series=np.array([1,2,3,4,5])
a=pd.Series(series)
f=print(a.loc[ :2])
print(f)
g=print(a.loc[3:4])
print(g)

0    1
1    2
2    3
dtype: int64
None
3    4
4    5
dtype: int64
None

In [44]:
#selection in series using iloc index label
series=np.array([1,2,3,4,5])
a=pd.Series(series)
f=print(a.iloc[ :2])
print(f)
g=print(a.iloc[3:4])
print(g)

0    1
1    2
dtype: int64
None
3    4
dtype: int64
None

In [45]:
#selection in series using []
series=np.array([1,2,3,4,5])
a=pd.Series(series)
f=print(a[2])
print(f)
g=print(a[3:4])
print(g)

3
None
3    4
dtype: int64
None

In [51]:
#indexing in series
s=np.array([1,2,3,4,5])
a=pd.Series(s,index=['first','second','third','forth','fifth'])
print(a)
print(a['first'])
print(a[1])
print(a.index)

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64
1
2
Index(['first', 'second', 'third', 'forth', 'fifth'], dtype='object')

In [52]:
#slicing in series
s=np.array([1,2,3,4,5])
a=pd.Series(s,index=['first','second','third','forth','fifth'])
print(a)
print(a[1:4:2])

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64
second    2
forth     4
dtype: int64